@model ProductUpdateVM
@{
    ViewData["Title"] = "Update";
    var categories = (IEnumerable<Category>)ViewBag.Categories;
}

<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Category form</h4>
                <img class="m-1" width="100" height="100" src="~/img/@Model.ProductImages.FirstOrDefault(i=>i.IsMain).ImageURL" alt="" />
                <h5>Main Photo</h5>
                <h4 class="card-title mt-4">Photos</h4>
                <div class="d-flex mb-4">
                    @foreach (var image in Model.ProductImages)
                    {
                        if (!image.IsMain)
                        {
                            <div class="m-2">
                                <img class="m-1" width="70" height="70" src="~/img/@image.ImageURL" alt="" />
                                <a class="d-block btn btn-danger p-1" asp-action="deleteImage" asp-route-id="@image.Id">Delete</a>
                            </div>
                        }
                    }
                </div>
                <form enctype="multipart/form-data" asp-action="update" class="forms-sample" method="post">
                    <div class="form-group">
                        <label asp-for="UploadPhotos"></label>
                        <input multiple asp-for="UploadPhotos" class="form-control">
                        <span class="text-danger" asp-validation-for="UploadPhotos"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div><div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" placeholder="Price">
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Count"></label>
                        <input asp-for="Count" class="form-control" placeholder="Count">
                        <span class="text-danger" asp-validation-for="Count"></span>
                    </div>
                    <div class="form-group">
                        <select asp-for="CategoryId" class="d-block mb-5">
                            @foreach (var category in categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Update</button>
                    <a asp-action="index" class="btn btn-light">Go back</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}