@model IEnumerable<Blog>
@{
    ViewData["Title"] = "All Blogs";
}
<section id="blog">
    <div class="container">
        <div class="row blogList">
            @await Component.InvokeAsync("Blog", 3)
        </div>
        <div class="btn-area text-center my-5">
            <button class="btn btn-outline-danger loadMoreBtn">Load More...</button>
        </div>
    </div>
</section>

